.userbox__section{
  width:30rem;
  height:100%;
  background-color:#2d2942;
  display:flex;
  flex-direction:column;
  position:relative;
}

.userbox__section .friend__heading{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.userbox__section .friend__heading span{
  cursor:pointer;
  user-select:none;
  display:none;
}

@media only screen and (max-width:600px){
  .userbox__section{
    width:25rem;
  }
}

@media only screen and (max-width:540px){
  .userbox__section{
    height:auto;
    width:100%;
  }

  .userbox__section .friend__heading span{
    display:inline;
  }
}
