.register__page{
    width: 100%;
    height: calc(100vh - 8vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2d2942;
    border:1px solid black;
}

.register__page .confirmation{
    padding:1rem;
    border-radius: .5rem;
    background-color:#d1d4d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__page .confirmation h1{
    color:rgb(37, 80, 37);
    text-align: center;
}

.register__page .confirmation button{
    background-color: #8b81be;
    color:white;
    font-weight: 600;
}